<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@PhpCsFixer' => true,

        'array_syntax' => ['syntax' => 'short'],
        'comment_to_phpdoc' => true,
        'combine_nested_dirname' => true,
        'ereg_to_preg' => true,
        'fopen_flag_order' => true,
        'is_null' => true,
        'list_syntax' => ['syntax' => 'short'],
        'method_chaining_indentation' => false,
        'ternary_to_null_coalescing' => true,
    ])
    ->setFinder($finder)
    ->setRiskyAllowed(true)
;
