{% extends 'PumukitNewAdminBundle::layout.html.twig' %}

{% block body %}

    <h3 class="title_like_breadcrumb">
        {% if app.user and is_granted('ROLE_SCOPE_PERSONAL') %}
            {% if is_naked() %}
                {% trans %}My Series{% endtrans %}
            {% else %}
                {% trans %}My Multimedia Series{% endtrans %}
            {% endif %}
        {% else %}
            {% trans %}Series{% endtrans %}
        {% endif %}
    </h3>

    <div class="row">
        <div class="col-md-10">
            <div class="well" style="padding:5px 0 0 0;">
                {% include 'PumukitNewAdminBundle:Series:list.html.twig' %}
                {% include 'PumukitNewAdminBundle:Series:actions.html.twig' %}
            </div>

            <div id="edit_series">
                {% if(app.session.has('admin/series/id')) %}
                    {{ render(url('pumukitnewadmin_series_update', {'id': app.session.get('admin/series/id')})) }}
                {% endif %}
            </div>

        </div>

        <div class="hidden-xs hidden-sm col-md-2">
            <div id="preview_series" class="well">
                {% if(app.session.has('admin/series/id')) %}
                    {{ render_hinclude(url('pumukitnewadmin_series_show', {'id': app.session.get('admin/series/id')})) }}
                {% else %}
                    {% trans %}Select any series.{% endtrans %}
                {% endif %}
            </div>
            {% include 'PumukitNewAdminBundle:Series:acordeon.html.twig' with {'name': 'series', 'broadcasts': 'broadcasts', 'seriestypes': 'seriestypes'} %}
        </div>
    </div>

    <div class="pmk-modal modal fade" id="myAuxModal_template" tabindex="-1" role="dialog" aria-labelledby="myAuxModal_templateLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <script>
        {% include "PumukitNewAdminBundle:Series:series.js.twig" %}
    </script>
{% endblock %}
