<tfoot>
    <tr>
        <td colspan="12" class="foot-td">
            <div class="col-md-6">
                {{ series.getNbResults }}
                {% transchoice series.getNbResults %}
                    {0} series|{1} series|]1,Inf] series
                {% endtranschoice %}
                {% if app.session.get('admin/series/criteria')|length != 0 or (app.session.has('admin/series/empty_series') or app.request.query.has('empty_series')) %}
                    <a class="cancel-search-button" title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true">{% trans %}Cancel search{% endtrans %}</a>
                {% endif %}
            </div>
            <div class="col-md-6 text-right">
                <div class="pagerfanta">
                    {% set sorting = {('sorting[' ~ (app.session.get('admin/series/sort')) ~ ']') : (app.session.get('admin/series/type')) } %}
                    {{ pagerfanta(series, 'twitter_bootstrap3', {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;", "routeName": "pumukitnewadmin_series_index", "routeParams": sorting}) }}

                    {% if not is_naked() %}
                        <input title="{% trans %}Go to page{% endtrans %}" type="number"
                               style="width: 25px;text-align:center;cursor:pointer;"
                               value="{{ series.getCurrentPage() }}"
                               onchange="window.location.search = '?page=' + this.value; return false;"/>

                        <select onchange="window.location.href = '{{ path('pumukitnewadmin_series_index') }}' + '?page=1&paginate=' + this.value" aria-label="{% trans %}Select the number of series to display per page.{% endtrans %}">
                            <option {% if series.maxPerPage == 10 %}selected{% endif %} value="10">
                                10
                            </option>
                            <option {% if series.maxPerPage == 20 %}selected{% endif %} value="20">
                                20
                            </option>
                            <option {% if series.maxPerPage == 50 %}selected{% endif %} value="50">
                                50
                            </option>
                        </select>
                    {% endif %}
                </div>
            </div>
        </td>
    </tr>
</tfoot>