<div id="list_series">
    <div class="table-responsive" style="overflow:visible;">

        <input type="hidden" name="pumukitnewadmin_series_sort_change_type" id="pumukitnewadmin_series_sort_change_type" value="{{ app.session.get('admin/series/type')=='asc'?'desc':'asc' }}" />

        <table class="table table-striped table-hover">

            {% include 'PumukitNewAdminBundle:Series:listth.html.twig' %}

            {% include 'PumukitNewAdminBundle:Series:listbody.html.twig' %}

            {% include 'PumukitNewAdminBundle:Series:listfooter.html.twig' %}

        </table>
    </div>
</div>