{% set event = future_and_not_finished_event(1)|first %}
<div class="directo_info" >
  <div class="row info_header">
    {% if event %}
      {% if ((event.date|date('U')) < ('now'|date('U'))) %}
        {% trans %}Current live broadcast{% endtrans %}
      {% else %}
        {% trans %}Next live broadcast{% endtrans %}
      {% endif %}
    {% else %}
      {% trans %}Next live broadcast{% endtrans %}
    {% endif %}	  
  </div>
  <div class="row">
    <div class="col-xs-6">
      {% trans %}EVENT{% endtrans %}
    </div>
    <div class="col-xs-6">
      {{ event ? event.name : '---' }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      {% trans %}PLACE{% endtrans %}
    </div>
    <div class="col-xs-6">
      {{ event ? event.place : '---' }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      {% trans %}DATE{% endtrans %}
    </div>
    <div class="col-xs-6">
      {{ event ? event.date|date('d/m/Y') : '---' }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      {% trans %}TIME{% endtrans %}
    </div>
    <div class="col-xs-6">
      {{ event ? event.date|date('H:i') : '---' }}
    </div>
  </div>
</div>
