{% set colspan = 5 - (series.sorting == constant('SORT_MANUAL', series) ? 0 : 2) - (is_naked() ? 1 : 0) %}

<thead>
    <tr>
        <th id="th-checkbox" style="width:1%">
            <div class="checkbox pumukit-mms-checkbox">
                <label>
                    <input type="checkbox" onclick="window.click_checkbox_all('mm', this.checked)">
                </label>
            </div>
        </th>

        <th id="th-icons" colspan="{{ colspan }}" style="width:5%"></th>
        <th id="th-type" style="width:1%">{% trans %}Type{% endtrans %}</th>
        <th id="th-img" style="width:1%">{% trans %}Img{% endtrans %}</th>
        <th id="th-title">{% trans %}Title{% endtrans %}</th>
        <th id="th-duration" style="width:1%">{% trans %}Duration{% endtrans %}</th>
        <th id="th-rec-date" style="width:1%">{% trans %}RecDate{% endtrans %}</th>
        <th id="th-pub-date" style="width:1%">{% trans %}PubDate{% endtrans %}</th>
    </tr>
</thead>