<div class="col-xs-12">
    <div class="jwplayer_not_found" style="color:#d58512; margin-top:20%;">
        <p style="text-align: center;">
            <i class="fa fa-exclamation-triangle fa-4x"></i>
        </p>
        <h1 style="text-align: center;">{{ "Video is not available"|trans|upper }}</h1>
    </div>
</div>