<div class="col-xs-12">
    <div class="jwplayer_not_found">
        <p>
            <i class="fa fa-exclamation-triangle fa-4x"></i>
        </p>
        <h1>
            {{ "Video is not available"|trans|upper }}
        </h1>
    </div>
</div>
